importFrom(drc, drm)
importFrom(utils, tail)
importFrom(car, deltaMethod)
importFrom(plyr, ldply)
import(stats)
export(angularTransform,
       linear.fun, NLS.linear, DRC.linear,
       linearOrigin.fun, NLS.linearOrigin, DRC.linearOrigin,
       poly2.fun, NLS.poly2, DRC.poly2,
       expoGrowth.fun, NLS.expoGrowth, DRC.expoGrowth,
       expoDecay.fun, NLS.expoDecay, DRC.expoDecay, 
       EXD.fun,
       asymReg.fun, NLS.asymReg, DRC.asymReg, DRC.SSasymp,
       negExp.fun, NLS.negExp, DRC.negExp,
       YL.fun, NLS.YL, DRC.YL,
       cousens85.fun, DRC.cousens85,
       powerCurve.fun, NLS.powerCurve, DRC.powerCurve,
       logCurve.fun, NLS.logCurve, DRC.logCurve,
       L.4.fun, L.3.fun, L.2.fun,
       G.4.fun, G.3.fun, G.2.fun,
       E.4.fun, E.3.fun, E.2.fun,
       LL.4.fun, nlsLL.4, LL.3.fun, nlsLL.3, LL.2.fun, nlsLL.2,
       W1.4.fun, nlsW1.4, W1.3.fun, nlsW1.3, W1.2.fun, nlsW1.2,
       W2.4.fun, nlsW2.4, W2.3.fun, nlsW2.3, W2.2.fun, nlsW2.2,
       BC.5.fun, BC.4.fun, BC.3.fun,
       beta.fun,
       bragg.3.fun, NLS.bragg.3, DRC.bragg.3,
       bragg.4.fun, NLS.bragg.4, DRC.bragg.4,
       triangle.fun,
       JointRegr, JointRegrM,
       AMMI, AMMImeans, GGE, GGEmeans, CVA,
       biplot.met, stability.met, summary.met,
       getVarCov.gls, getVarCov.lme, anova.aovlist,
       plot.nls, plotnls, plotnls.nls, R2nls, boxcox.nls,
       gnlht)
