import("statforbiology")
export(
  # Support for nls and drc
       # EXD.fun, # To be re-worked
       BC.5.fun, BC.4.fun, BC.3.fun,
       bragg.3.fun, NLS.bragg.3, DRC.bragg.3,
       bragg.4.fun, NLS.bragg.4, DRC.bragg.4,
       triangle.fun,
       # utilities for ANOVA models
       biplot.polygon, AnscombeTukey
       # JointRegr, JointRegrM,
       # stability.met, summary.met,
       # Utilities for nonlinear regression
       ## meta-analysis
       # getTau, # myMet,
       ## Other
       # tukeyMat, angularTransform, ma
       )

## S3 methods



